{% extends 'base.html' %}

{% block title %}
  FlexCareers | {{ jobs.title }}
{% endblock title %}

{% block content %}
  <section>
    <div class="container">
      <div class="view-post">
        <h1 class="jobtitle">
          {{ jobs.title }}
        </h1>
        <p class="location it">Location: <span>{{ jobs.location.city }}</span></p>
        <p class="status it">Type: <span>{{ jobs.job_type }}</span></p>
        <p class="budget it">Salary: <span>{{ jobs.salary }}</span></p>
        <div class="desc">
          <p class="details">
              {{ jobs.description }}
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
